<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDaoBean" class="com.cao.spring6.dao.UserDao"/>
    <bean id="vipDaoBean" class="com.cao.spring6.dao.VipDao"/>
    <!--
        csBean1和csBean2
        这两种方式的效果是一样的。都可以实现构造注入。
    -->
    <bean id="csBean1" class="com.cao.spring6.service.CustomerService">
        <!--根据构造方法参数的下标注入-->
        <!--
            index:是构造方法参数下标，第一个参数是0，第二个参数是1...
            ref属性用来指定注入的bean的id
        -->
        <!--指定构造方法的第一个参数，下标是0-->
        <constructor-arg index="0" ref="userDaoBean"/>
        <!--指定构造方法的第二个参数，下标是1-->
        <constructor-arg index="1" ref="vipDaoBean"/>
    </bean>
    <bean id="csBean2" class="com.cao.spring6.service.CustomerService">
        <!--根据构造方法的参数的名字注入-->
        <constructor-arg name="userDao" ref="userDaoBean"/>
        <constructor-arg name="vipDao" ref="vipDaoBean"/>
    </bean>
    <bean id="csBean3" class="com.cao.spring6.service.CustomerService">
        <!--不指定下标，也不指定参数的名称，让spring自己做类型匹配
            这种方式实际上是根据类型进行注入。spring会自动根据类型来判断把ref注入哪个参数
            这种方式不建议写，可读性太差。。。。。。。
        -->
        <constructor-arg ref="userDaoBean"/>
        <constructor-arg ref="vipDaoBean"/>
    </bean>

</beans>